@font-face {
    font-family: 'Pecita';
    src: url('../fonts/Pecita.otf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica/HelveticaBlack/HelveticaBlack.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}